<div id="weeklist" class="flex-row">
  <div class="test weekday">
    <div>
      <h3>Sun</h3>
      <h4>Date</h4>
    </div>
    <div class="priority text"><h5>Priority:</h5></div>
    <div class="todos text"><h5>To-Do:</h5></div>
  </div>
  <div class="test weekday">
    <h3>Mon</h3>
    <h4>Date</h4>
    <div class="priority">Priority:</div>
    <div class="todos">To-Do's</div></div>
  <div class="test weekday">
    <h3>Tue</h3>
    <h4>Date</h4>
    <div class="priority">Priority:</div>
    <div class="todos">To-Do's</div></div>
  <div class="test weekday">
    <h3>Wed</h3>
    <h4>Date</h4>
    <div class="priority">Priority:</div>
    <div class="todos">To-Do's</div></div>
  <div class="test weekday">
    <h3>Thu</h3>
    <h4>Date</h4>
    <div class="priority">Priority:</div>
    <div class="todos">To-Do's</div></div>
  <div class="test weekday">
    <h3>Fri</h3>
    <h4>Date</h4>
    <div class="priority">Priority:</div>
    <div class="todos">To-Do's</div></div>
  <div class="test weekday">
    <h3>Sat</h3>
    <h4>Date</h4>
    <div class="priority">Priority:</div>
    <div class="todos">To-Do's</div></div>
</div>