<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YOUR WEEKLY PLANNER</title>
        <script
      src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"
    >
    </script>
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/lights.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Klee+One&display=swap"
      rel="stylesheet"
    />

  </head>
  <body>
    <header>
      <nav class="display-flex align-center test mx-2">
        <a href="/"><button class="btn">Home</button></a>
        <a href="/planner/1"><button class="btn">Planner</button></a>
        {{#if logged_in}}
          <button class="btn" id="logout">Logout</button>
        {{else}}
          <a href="/"><button
              id="login"
              class="btn"
            >Login/Register</button></a>{{/if}}
      </nav>
      {{#if logged_in}}
        <div class="dailyjokes"><h4>Welcome, {{user}}!</h4></div>
      {{/if}}
    </header>

    <main class="test flex-row hero-image">{{{body}}}</main>

    <div id="snowflakeContainer">
      <img class="snowflake" src="https://www.kirupa.com/icon/2744.svg" />
    </div>

    <script src="/js/snowflakes.js"></script>
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>