<div class="col-md-6">
  <form>
    <div class="form-group">
      <label>Add Future To-Do's</label>
      <div>
        <input
          class="form-textarea custom-textarea"
          type="text"
          id="text-content"
        />
      </div>
    </div>
    <button
      class="btn custom-btn"
      type="submit"
      id="newfuture-btn"
    >Submit</button>
  </form>
</div>

<script src="/js/newFuture.js"></script>