<div class="col-md-6">
  <form>
    <div class="form-group">
      <label>Add Motivator</label>
      <div>
        <input
          class="form-textarea custom-textarea"
          type="text"
          id="text-content"
        />
      </div>
    </div>
    <button class="btn custom-btn" type="submit" id="newmotive-btn">Submit</button>
  </form>
</div>

<script src="/js/newMotivator.js"></script>
