<section id="sidebar">
  <div id="minicalender"><h4>Mini Calendar</h4></div>
  <div id="keymotivators">
    <h4>Key Motivators:</h4>
    <ul>
      {{#each motivators}}
        <li data-id="{{id}}">{{content}}</li>
      {{/each}}
    </ul>
    <button id="edit-btn">Edit</button>
  </div>
  <div id="futuretodo">
    <h4>Future To-Do's:</h4>
    <ul>
      {{#each future}}
        <li data-id="{{id}}">{{content}}</li>
      {{/each}}
    </ul>
    <button class="edit-btn">Edit</button></div>
</section>

<div id="fullweek" class="test">
  <div class="test" id="weeklabel">
    <ul class="wire">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <h2>
      <label for="week-picker" >Current Week:</label>
      <select id="week-picker" name="weeks">
        <option>--Select a week</option>
        <option class="week-option" data-id="1"> 12/3 - 12/9 </option>
        <option id="week-option" data-id="2"> 12/10 - 12/16 </option>
        <option id="week-option" data-id="3"> 12/17 - 12/23 </option>
        <option id="week-option" data-id="4"> 12/24 - 12/30 </option>
        <option id="week-option" data-id="5">12/31 - 1/6</option>
      </select></h2>
  </div>
  {{> weekdisplay}}

<script src="/js/data.js"></script>