<section id="sidebar">

  <div id="settings" class="test">
     {{#if logged_in}}
    <h4 class ="text-center">Settings</h4>
   
    <div class="container text-center flex-column">
      <div>
      <input type="checkbox" id="holiday">
      <label for="holiday"><p>Tired of the season?</p></label>
      </div>
      <select id="theme-picker" name="themes" class="mb-4">
        <option>-Select a Theme-</option>
        <option class="week-option" value="christmas">CHRISTMAS</option>
        <option class="week-option" value="autumn">SNOW IN AUTUMN???</option>
        <option class="week-option" value="happy">NON-DESCRIPT HAPPYTIME</option>
        <option class="week-option" value="cyberpunk">CYBERPUNK???</option>
      </select>
    </div>
    {{/if}}
  </div>
  <div id="keymotivators">
    <h4>Key Motivators:</h4>
    <ul>
      {{#each motivators}}
        <li data-id="{{id}}">{{content}}<span class="delete-motive del">❌</span></li>
      {{/each}}
    </ul>
    <a href="/motivator/"><button class="edit-btn">Add</button></a>
  </div>
  <div id="futuretodo">
    <h4>Future To-Do's:</h4>
    <ul>
      {{#each future}}
        <li data-id="{{id}}">{{content}}<span class="delete-future del">❌</span></li>
      {{/each}}
    </ul>
    <a href="/future"><button class="edit-btn add-future">Add</button></a>
  </div>
</section>

<div id="fullweek" class="test">
  <div id="weeklabel">
    <ul class="wire" id="wire">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <h2>
      <label for="week-picker">Current Week:</label>
      <select id="week-picker" name="weeks" onchange="weekSwitch(this)">
        <option>-Select a week-</option>
        <option class="week-option" value="/planner/1"> 12/3 - 12/9 </option>
        <option class="week-option" value="/planner/2"> 12/10 - 12/16 </option>
        <option class="week-option" value="/planner/3"> 12/17 - 12/23 </option>
        <option class="week-option" value="/planner/4"> 12/24 - 12/30 </option>
        <option class="week-option" value="/planner/5">12/31 - 1/6</option>
      </select>
    </h2>
  </div>

  {{> weekdisplay}}

  <script>
    function weekSwitch(selectElement) { var selectedOption =
    selectElement.options[selectElement.selectedIndex]; var url =
    selectedOption.value; if (url) { window.location.href = url; } }
  </script>
<script src="/js/delete.js"></script>



</div>