<section id="sidebar">
  <div id="minicalender"><h4>Mini Calendar</h4></div>
  <div id="keymotivators"><h4>Key Motivators:</h4><button
      id="edit-btn"
    >Edit</button></div>
  <div id="futuretodo"><h4>Future To-Do's:</h4>
    <button class="edit-btn">Edit</button></div>
</section>

<div id="fullweek" class="test">
  <div class="test" id="weeklabel">
    <ul class="wire">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <h2>December 3-9</h2></div>
  <div id="weeklist" class="flex-row">
    <div class="test weekday">
      <h3>Sun</h3>
      <h4>Date</h4>
      <div class="priority">Priority:</div>
      <button class="priority-button">Priority:</button>
      <button class="todos-button">To-Do's:</button>
      <div class="todos">To-Do's</div></div>
    <div class="test weekday">
      <h3>Mon</h3>
      <h4>Date</h4>
      <div class="priority">Priority:</div>
      <div class="todos">To-Do's</div></div>
    <div class="test weekday">
      <h3>Tue</h3>
      <h4>Date</h4>
      <div class="priority">Priority:</div>
      <div class="todos">To-Do's</div></div>
    <div class="test weekday">
      <h3>Wed</h3>
      <h4>Date</h4>
      <div class="priority">Priority:</div>
      <div class="todos">To-Do's</div></div>
    <div class="test weekday">
      <h3>Thu</h3>
      <h4>Date</h4>
      <div class="priority">Priority:</div>
      <div class="todos">To-Do's</div></div>
    <div class="test weekday">
      <h3>Fri</h3>
      <h4>Date</h4>
      <div class="priority">Priority:</div>
      <div class="todos">To-Do's</div></div>
    <div class="test weekday">
      <h3>Sat</h3>
      <h4>Date</h4>
      <div class="priority">Priority:</div>
      <div class="todos">To-Do's</div></div>
  </div>
</div>

{{! <section>
  <div class="weekday" id="sun">
    <p>Sunday</p>
    <div class="todo">To Do:</div>
  </div>
  <div class="weekday" id="mon">
    <p>Monday</p>
    <div class="todo">To Do:</div>
  </div>
  <div class="weekday" id="tue">
    <p>Tuesday</p>
    <div class="todo">To Do:</div>
  </div>
  <div class="weekday" id="wed">
    <p>Wednesday</p>
    <div class="todo">To Do:</div>
  </div>
  <div class="weekday" id="thurs">
    <p>Thursday</p>
    <div class="todo">To Do:</div>
  </div>
  <div class="weekday" id="fri">
    <p>Friday</p>
    <div class="todo">To Do:</div>
  </div>
  <div class="weekday" id="sat">
    <p>Saturday</p>
    <div class="todo">To Do:</div>
  </div>
</section> }}