<section>
        <div id="minicalender">Mini Calender</div>
        <div id="futuretodo">Future To-Do's:</div>
    </section>
    <main>
        <div id="sun">
            <p>Sunday</p>
            <div class="todo">To Do:</div>
        </div>
        <div id="mon">
            <p>Monday</p>
            <div class="todo">To Do:</div>
        </div>
        <div id="tue">
            <p>Tuesday</p>
            <div class="todo">To Do:</div>
        </div>
        <div id="wed">
            <p>Wednesday</p>
            <div class="todo">To Do:</div>
        </div>
        <div id="thurs">
            <p>Thursday</p>
            <div class="todo">To Do:</div>
        </div>
        <div id="fri">
            <p>Friday</p>
            <div class="todo">To Do:</div>
        </div>
        <div id="sat">
            <p>Saturday</p>
            <div class="todo">To Do:</div>
        </div>
    </main>