header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(215, 215, 209);
  height: 6vh;
  font-family: 'Klee One', cursive;
  font-size: 20px;;

}
.createaccount {
  background-color: rgb(155, 242, 242);
  border: solid black;
}
.dailyjokes {
  background-color: rgb(94, 170, 103, 0.521);
  border: solid black;
  width: 20vw;
}

section {
  display: flex;
  flex-direction: column;
  background-color: rgba(94, 170, 103, 0.521);
  height: 100%;
  width: 23%;
  
}
#minicalender {
  border: solid black;
  height: 30vh;
  text-align: center;
  font-family: 'Klee One', cursive;
}
#keymotivators {
  border: solid black;
  height: 30vh;
  text-align: center;
  font-family: 'Klee One', cursive;
}
#futuretodo {
  border: solid black;
  height: 50vh;
  text-align: center;
  font-family: 'Klee One', cursive;
}
main {
  margin-left: 0;
  height: 94vh;
  width:100vw;
  overflow:hidden;
  font-family: 'Klee One', cursive;

}

/* main {
  display: flex;
  flex-direction: row;
  background-color: yellow;
  border: solid black;
  width: 76.97vw;
  margin-left: 23%;
  position: absolute;
  top: 3.24em;
  height: 92vh;
} */

.weekday {
    width:14%;
    text-align:center;
    height: 100%;

}

#fullweek {
    width:76%;
    height: 100%;
}

#weeklabel {
  display: flexbox;
    width:100%;
    text-align:center;
    height: 15%;
    font-family: 'Klee One', cursive;
}

h2 {
  position: relative;
  top: 1.2em;
  font-size: 40px;
}
h4 {
  font-size: 20px;
}
#weeklist {
    justify-content: space-evenly;
    height: 100%;
}
h5 {
  font-size: 15px;
}

.text {
  height:38%;
}

.test {
  border: solid black;
}
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("../images/background.jpeg");
  /* Set a specific height */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 80%;
  /* background-color: rgba(0,0,0,0.2); */
}
.hero-image2 {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("../images/login.jpeg");
  /* Set a specific height */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
  /* opacity: 90%; */
  /* background-color: rgba(0,0,0,.3); */
}
.logindiv {
  width: 100vw;
}

#snowflakeContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
}

.snowflake {
  position: fixed;
  background-color: white;
  user-select: none;
  z-index: 1000;
  pointer-events: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
/* .login-form {
  border: solid black;
  background: fixed;
  background: no-repeat;
  background-image: url('login.jpg');
  background-color: gainsboro;
  backdrop-filter: blur(10px);
  opacity: 20%;
  box-shadow: 0 0 5px 0 ; 
  border-style: inset;
} */


.login-form {
  position: relative;
  top: 1.0em;
  font-size: 40px;
  width: 50%;
}
.signup-form {
  position: relative;
  top: 1.0em;
  font-size: 40px;
  width: 50%;
}